{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- <input type="search" placeholder="Search" aria-label="Search" name="search" > -->

<!-- Checkboxes -->
<!-- ===================================================== -->
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <form action="{% url 'search' %}">
        <div>
          <ul>
          <li><label for="manufacture">Производитель</label></li>
          <li><input type="checkbox" id="manufacture" name="manufacture" value="Samsung">Samsung </li>
          <input type="checkbox" id="manufacture" name="manufacture" value="Honor">Honor <br>
          <input type="checkbox" id="manufacture" name="manufacture" value="Huawei">Huawei <br>
          <input type="checkbox" id="manufacture" name="manufacture" value="Apple">Apple <br>
          <input type="checkbox" id="manufacture" name="manufacture" value="Xiaomi">Xiaomi <br>
          <input type="checkbox" id="manufacture" name="manufacture" value="Sony">Sony <br>
          <input type="submit" value="Submit"class="btn btn-primary">
        </div>
      </ul>
      </form>
    </div>

      <!-- Listing products -->
<!-- ==================================================================================== -->
<div class="col-9">
     <div class="container">
       <br>
       <div class="row">
        {% for product in products %}
        <div class="col-4 border text-primary">
          <p><h5>{{product.brand}} {{product.model_name}} {{product.hdd}}/{{product.ram}}Gb</h4></p>
            <a href="{{product.get_url}}">
              <div class="text-center">
              <img src="{{product.image.url}}"  width=130 alt="{{product.model_name}}">
              </div>
            </a>
          <p><h4>{{product.price}} руб.</h4></p>

          {% if product.stock <= 0 %}
          <p class="text-justify product_text"><b>Out of Stock</b></p>
          {% else %}
            <a href="{% url 'add_cart' product.slug %}">  
            <button type="button" name="button" class="btn btn-primary btn-block">
            Купить
            </button>
            <br>
            </a>
          {% endif %}
        </div>
        {% endfor %}
       </div>
     </div>
  </div>
     
           
<!-- =========================================================== -->
    
    
    </div>

    <!-- Paginator -->
<!-- ===================================================================== -->
    <div class="col-10 mx-auto my-2 text-center">
      {% if products.paginator.num_pages > 1 %}
          {% for page_number in products.paginator.page_range %}
              <a href="?page={{page_number}}"
               class="btn btn-light btn-sm {% if products.number == page_number %}active{% endif %}">
               {{page_number}}</a>
          {% endfor %}
      {% endif %}
    </div>
    <br>
</div>

{% endblock %}