{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- <input type="search" placeholder="Search" aria-label="Search" name="search" > -->

<!-- Checkboxes -->
<!-- ===================================================== -->
<div class="container">
    <div class="row mt-4 pt-5">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Текущая</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row ">           
        <div class="col-3 bg-light rounded">
            <form action="{% url 'search_smartphone' %}">
                {% csrf_token %}
                <ul>
                    <li><label for="manufacture">Производитель</label></li>
                    <input type="checkbox" id="manufacture" name="manufacture" value="Samsung"> Samsung 
                    <input type="checkbox" id="manufacture" name="manufacture" value="Honor"> Honor <br>
                    <input type="checkbox" id="manufacture" name="manufacture" value="Huawei"> Huawei
                    <input type="checkbox" id="manufacture" name="manufacture" value="Apple"> Apple <br>
                    <input type="checkbox" id="manufacture" name="manufacture" value="Xiaomi"> Xiaomi
                    <input type="checkbox" id="manufacture" name="manufacture" value="Sony"> Sony <br>
                    <input type="checkbox" id="manufacture" name="manufacture" value="ZTE"> ZTE
                    <input type="checkbox" id="manufacture" name="manufacture" value="BQ"> BQ <br>
                </ul>
                <ul>
                    <li><label for="ram">Размер дисплея</label></li>
                    до <input type="checkbox" id="display" name="display" value="5"> 5 дюймов <br>
                    до <input type="checkbox" id="display" name="display" value="6"> 6 дюймов <br>
                    до <input type="checkbox" id="display" name="display" value="7"> 7 дюймов
                </ul>
                <ul>
                    <!-- <li><label for="price">Цена</label></li>
                    до <input type="checkbox" id="price" name="price" value="3000.00"> 3000 руб. <br>
                    до <input type="checkbox" id="price" name="price" value="5000.00"> 5000 руб. <br>
                    до <input type="checkbox" id="price" name="price" value="7000.00"> 7000 руб. <br>
                    до <input type="checkbox" id="price" name="price" value="10000.00"> 10000 руб. <br>
                    до <input type="checkbox" id="price" name="price" value="15000.00"> 15000 руб. <br>
                    до <input type="checkbox" id="price" name="price" value="20000.00"> 20000 руб. <br>
                    до <input type="checkbox" id="price" name="price" value="25000.00"> 25000 руб. <br> -->

                    <li><label for="price">Цена</label></li>
                  
                    <div>
                        <input type="radio" name="price" value="all" id="price" checked> Все цены<br>
                        <input type="radio" name="price" value="3000-5000" id="price"> от 3000 до 5000 руб<br>
                        <input type="radio" name="price" value="5000-7000" id="price"> от 5000 до 7000 руб<br>
                        <input type="radio" name="price" value="7000-10000" id="price"> от 7000 до 10000 руб<br>
                        <input type="radio" name="price" value="10000-15000" id="price"> от 10000 до 15000 руб<br>
                        <input type="radio" name="price" value="15000-20000" id="price"> от 15000 до 20000 руб<br>
                    </div>
                </ul>
                <ul>
                    <li><label for="ram">Оперативная память</label></li>
                    <input type="checkbox" id="ram" name="ram" value="1"> 1Gb
                    <input type="checkbox" id="ram" name="ram" value="2"> 2GB
                    <input type="checkbox" id="ram" name="ram" value="3"> 3GB
                    <input type="checkbox" id="ram" name="ram" value="4"> 4Gb
                    <input type="checkbox" id="ram" name="ram" value="4"> 6Gb
                </ul>
                <ul>
                    <li><label for="ram">Встроенная память</label></li>
                    <input type="checkbox" id="hdd" name="hdd" value="8"> 8Gb
                    <input type="checkbox" id="hdd" name="hdd" value="16"> 16GB
                    <input type="checkbox" id="hdd" name="hdd" value="32"> 32GB
                    <input type="checkbox" id="hdd" name="hdd" value="64"> 64Gb
                    <input type="checkbox" id="hdd" name="hdd" value="128"> 128Gb
                    <input type="checkbox" id="hdd" name="hdd" value="256"> 256Gb
                </ul>
                <ul>
                    <li><label for="ram">Количество ядер процессора</label></li>
                    <input type="checkbox" id="processor_core" name="processor_core" value="1"> 1 ядро
                    <input type="checkbox" id="processor_core" name="processor_core" value="2"> 2 ядра
                    <input type="checkbox" id="processor_core" name="processor_core" value="4"> 4 ядра
                    <input type="checkbox" id="processor_core" name="processor_core" value="8"> 8 ядер
                    <input type="checkbox" id="processor_core" name="processor_core" value="16"> 16 ядер
                </ul>
                <ul>
                    <li><label for="ram">Частота процессора</label></li>
                    <input type="checkbox" id="processor_frequency" name="processor_frequency" value="1000"> 1 Ghz
                    <input type="checkbox" id="processor_frequency" name="processor_frequency" value="2"> 2 Ghz 
                    <input type="checkbox" id="processor_frequency" name="processor_frequency" value="4"> 4 Ghz
                </ul>
                <ul>
                    <li><label for="ram">Емкость АКБ</label></li>
                    <div>
                        <input type="radio" name="battery" value="all" id="battery" checked> Все <br>
                        <input type="radio" name="battery" value="lower 2000" id="battery"> менее 2000 мА <br>
                        <input type="radio" name="battery" value="2000-3000" id="battery"> от 2000 до 3000 мА<br>
                        <input type="radio" name="battery" value="3000-5000" id="battery"> от 3000 до 5000 мА <br>
                        <input type="radio" name="battery" value="10000-15000" id="battery"> от 5000 до 8000 мА <br>
                       
                    </div>
                </ul>
                <ul>
                    <li><label for="ram">Разрешение основной камеры</label></li>
                    <input type="checkbox" id="camera_1" name="camera_1" value="5000"> 5 mpx
                    <input type="checkbox" id="camera_1" name="camera_1" value="10000"> 10 mpx <br>
                    <input type="checkbox" id="camera_1" name="camera_1" value="15000"> 15 mpx
                    <input type="checkbox" id="camera_1" name="camera_1" value="20000"> 20 mpx <br>
                    <input type="checkbox" id="camera_1" name="camera_1" value="30000"> 30 mpx
                    <input type="checkbox" id="camera_1" name="camera_1" value="50000"> 50 mpx
                </ul>
                <ul>
                    <li><label for="ram">Разрешение фронтальной камеры</label></li>
                    <input type="checkbox" id="front_camera" name="front_camera" value="5000"> 5 mpx
                    <input type="checkbox" id="front_camera" name="front_camera" value="10000"> 10 mpx <br>
                    <input type="checkbox" id="front_camera" name="front_camera" value="15000"> 15 mpx
                    <input type="checkbox" id="front_camera" name="front_camera" value="20000"> 20 mpx <br>
                    <input type="checkbox" id="front_camera" name="front_camera" value="30000"> 30 mpx
                    <input type="checkbox" id="front_camera" name="front_camera" value="50000"> 50 mpx
                </ul>
                <ul>
                    <li><label for="ram">Тип связи</label></li>
                    <input type="checkbox" id="com_type" name="com_type" value="3G"> 3G
                    <input type="checkbox" id="com_type" name="com_type" value="4G"> 4G
                    <input type="checkbox" id="com_type" name="com_type" value="5G"> 5G
                </ul>
                <ul>
                    <li><label for="ram">NFC</label> <input type="checkbox" id="nfc" name="nfc" value="nfc"></li>
                    
                </ul>

                <input type="submit" value="Применить" class="btn btn-danger btn-block">
            </form>
        </div>

        <!-- Listing products -->
        <!-- ==================================================================================== -->
        <div class="col-9">
            <div class="row">
                {% for product in queryset_list %}
                <div class="col-4 border text-danger ">
                   <div class="row align-items-center justify-content-center p-2" style="height:80px">
                        <h5 class="text-center ">{{product.brand}} {{product.model_name}}{{product.color}}
                            {{product.ram}}/{{product.hdd}}Gb</h5>
                    </div>
                    <div class="row align-items-center justify-content-center" style="height:270px">
                        <a href="{{product.get_url}}">
                            <div class="text-center">
                                <img src="{{product.image.url}}" width=130 alt="{{product.model_name}}">
                            </div>
                        </a>
                    </div>
                    <div class="row align-items-center justify-content-center" style="height:120px">
                        <div class="col">
                            <p>
                            <h4 class="text-center">{{product.price}} руб.</h4>
                            </p>
                            {% if product.stock <= 0 %}
                            <p class="text-justify product_text"><b>Out of Stock</b></p>
                            {% else %}
                            <a href="{% url 'add_cart' product.slug %}">
                                <button type="button" name="button" class="btn btn-danger btn-block">
                                    Купить
                                </button>
                                <br>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Paginator -->
    <!-- ===================================================================== -->
<div class="row">
    <div class="col-md-12">
        {% if queryset_list.has_other_pages %} 
            <ul class="pagination justify-content-center">
            {% if queryset_list.has_previous%}
                <li class="page-item">
                    <a href="?page={{queryset_list.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&laquo;</a>
                </li>
            {% endif %}
            {% for i in queryset_list.paginator.page_range %}
                {% if queryset_list.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{i}}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{i}}" class="page-link">{{i}}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if queryset_list.has_next %}
            <li class="page-item">
                <a href="?page={{queryset_list.next_page_number}}" class="page-link">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">&raquo;</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
</div>

{% endblock %}