{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">

  <!-- breadcrumb section -->
  <!-- ============================================================== -->
  <div class="row mt-5 pt-4">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
          <li class="breadcrumb-item active" aria-current="page">Текущая</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- end of breadcrumb section -->
  <!-- =========================================================================== -->

  <!-- Item name section -->
  <!-- ===================================================== -->
  <div class="row">
    <div class="col-sm-6">
      {% if product.category.name == 'Smartphones' %}
      <h2 class="text-danger">{{product.brand}} {{product.model_name}} {{product.color}}
        {{product.hdd}}/{{product.ram}}Gb</h2>
      {% elif product.category.name == 'Sim_cards' %}
      <h2 class="text-danger">{{product.tarif.name}}
      </h2>
      {% else %}
      <h2 class="text-danger">{{product.brand}} {{product.model_name}} {{product.color}}</h2>
      {% endif %}
    </div>

    <div class="col-sm-6 text-danger">
      <h2>{{product.price}} руб.</h2><br>
    </div>
  </div>
  <!-- end of item name section -->
  <!-- =============================================================== -->

  <!-- carousel image section -->
  <!-- ======================================================================== -->
  <div class="row">
    <div class="col-sm-4">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{product.image.url}}" class="d-block w-50" alt="No image available">
          </div>
          <div class="carousel-item">
            <img src="{{product.image_1.url}}" class="d-block w-50" alt="No image available">
          </div>
          <div class="carousel-item">
            <img src="{{product.image_2.url}}" class="d-block w-50" alt="No image available">
          </div>
        </div>
      </div>
      <div class="row pt-3 pb-3">
        <div class="col-sm-7">
      {% if product.stock <= 0 %}
      <p class="text-justify product_text text-danger"><b>Out of Stock</b></p>
      {% else %}
      <a href="{% url 'add_cart' product.slug %}">
        <button type="button" name="button" class="btn btn-danger btn-block">
          Купить
        </button>
      </a>
      {% endif %}
      </div>
      <div class="col-sm-8">
        
      </div>
    </div>
    </div>
    <div class="col-sm-8">
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#features" role="tab" aria-controls="home"
      aria-selected="true">Характеристики</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#description" role="tab" aria-controls="contact"
      aria-selected="false">Описание</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#accessories" role="tab" aria-controls="profile"
      aria-selected="false">Аксессуары</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="contact"
      aria-selected="false">Отзывы</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="features" role="tabpanel" aria-labelledby="home-tab">
    <br>
    <!-- smarfphone details -->
    <!-- =================================================================== -->
    {% if product.category.name == 'Smartphones' %}
    <div class="row bg-light">
      <div class="col-6">Диагональ экрана</div>
      <div class="col-6">{{product.display}} дюйма</div>
    </div><br>
    <div class="row">
      <div class="col-6">Операционная система</div>
      <div class="col-6">{{product.os}}</div>
    </div><br>
    <div class="row bg-light">
      <div class="col-6">Встроенная память</div>
      <div class="col-6">{{product.hdd}} Gb</div>
    </div><br>
    <div class="row">
      <div class="col-6">Оперативная память</div>
      <div class="col-6">{{product.ram}} Gb</div>
    </div><br>
    <div class="row bg-light">
      <div class="col-6">Процессор</div>
      <div class="col-6">{{product.processor_name}}</div>
    </div><br>
    <div class="row">
      <div class="col-6">Количество ядер процессора</div>
      <div class="col-6">{{product.processor_core}}</div>
    </div><br>
    <div class="row bg-light">
      <div class="col-6">Частота процессора</div>
      <div class="col-6">{{product.processor_frequency}}</div>
    </div><br>
    <div class="row">
      <div class="col-6">Разрешение основной камеры</div>
      <div class="col-6">{{product.camera_1}} px</div>
    </div><br>
    <div class="row bg-light">
      <div class="col-6">Разрешение второй камеры</div>
      <div class="col-6">{{product.camera_2}} px</div>
    </div><br>
    <div class="row">
      <div class="col-6">Разрешение фронтальной камеры</div>
      <div class="col-6">{{product.front_camera}} px</div>
    </div><br>
    <div class="row bg-light">
      <div class="col-6">Разрешение видеосъемки</div>
      <div class="col-6">{{product.video}} </div>
    </div><br>
    <div class="row">
      <div class="col-6">Емкость аккумулятора</div>
      <div class="col-6">{{product.battery}} mAh</div>
    </div><br>
    <div class="row bg-light">
      <div class="col-6">Материал корпуса</div>
      <div class="col-6">{{product.material}}</div>
    </div><br>
    <div class="row">
      <div class="col-6">Количество сим карт</div>
      <div class="col-6">{{product.sim_cards}}</div>
    </div><br>

    <div class="row bg-light">
      <div class="col-6">Биометрическая защита</div>
      <div class="col-6">{{product.biometrics}}</div>
    </div><br>
    <div class="row">
      <div class="col-6">Беспроводная зарядка</div>
      <div class="col-6">
        {% if product.wireless_charge == True %}
        есть
        {% else %}
        нет
        {% endif %}
      </div>
    </div><br>

    <div class="row bg-light">
      <div class="col-6">Навигатор</div>
      <div class="col-6">
        {% if product.nav == True %}
        Есть
        {% else %}
        нет
        {% endif %}
      </div>
    </div><br>

    <div class="row">
      <div class="col-6">Гарантия</div>
      <div class="col-6">12 мес </div>
    </div><br>

    <!-- smartwatch details -->
    <!-- ========================================================= -->
    {% elif product.category.name == 'Smartwatch' %}
    <div class="row bg-light">
      <div class="col-6">Диагональ дисплея</div>
      <div class="col-6">{{product.display}} дюйма</div>
    </div><br>

    <div class="row">
      <div class="col-6">Дисплей</div>
      <div class="col-6">
        {% if product.display_color == True %}
        цветной
        {% else %}
        монохромный
        {% endif %}
      </div>
    </div><br>

    <div class="row bg-light">
      <div class="col-6">Операционная система</div>
      <div class="col-6">No data available</div>
    </div><br>

    <div class="row">
      <div class="col-6">Встроенная память</div>
      <div class="col-6">{{product.hdd}} Gb</div>
    </div><br>

    <div class="row bg-light">
      <div class="col-6">Оперативная память</div>
      <div class="col-6">{{product.ram}} Gb</div>
    </div><br>

    <div class="row">
      <div class="col-6">Процессор</div>
      <div class="col-6">No data available</div>
    </div><br>

    <div class="row bg-light">
      <div class="col-6">Материал корпуса</div>
      <div class="col-6">{{product.body_material}}</div>
    </div><br>

    <div class="row">
      <div class="col-6">Материал ремешка</div>
      <div class="col-6">{{product.lace_material}}</div>
    </div><br>

    <div class="row bg-light">
      <div class="col-6">Емкость аккумулятора</div>
      <div class="col-6">{{product.battery}} mAh</div>
    </div><br>

    <div class="row">
      <div class="col-6">Беспроводная зарядка</div>
      <div class="col-6">
        {% if product.wireless_charge == True %}
        Есть
        {% else %}
        нет
        {% endif %}
      </div>
    </div><br>

      <div class="row bg-light">
        <div class="col-6">Навигатор</div>
        <div class="col-6">
          {% if product.nav == True %}
          Есть
          {% else %}
          нет
          {% endif %}
        </div>
      </div><br>
    <div class="row">
      <div class="col-6">Датчики</div>
      <div class="col-6">
        {% for sensor in product.sensor.all %}
        {{sensor}},
        {% endfor %}
      </div>
    </div><br>
    <div class="row bg-light">
      <div class="col-6">Класс защиты</div>
      <div class="col-6">
      {% for class in product.security_class.all %}
      {{class}},
      {% endfor %}
    </div>
    </div><br>
    <div class="row">
      <div class="col-6">Наличие сим карты</div>
      <div class="col-6">{{product.sim_cards}}</div>
    </div><br>
    <div class="row bg-light">
      <div class="col-6">Дополнительные функции</div>
      <div class="col-6">{{product.additional_features}}</div>
    </div><br>
  
  <!-- tarif details -->
  <!-- ========================================================== -->
  {% elif product.category.name == 'Sim_cards' %}
    <div class="row bg-light">
      <div class="col-6">Тариф</div>
      <div class="col-6">{{product.tarif.name}}</div>
    </div><br>
    <div class="row bg-light">
      <div class="col-6">Оператор</div>
      <div class="col-6">{{product.tarif.operator}}</div>
    </div><br>
    <div class="row bg-light">
      <div class="col-6">Абонентская плата</div>
      <div class="col-6">{{product.tarif.line_rental}} руб/мес</div>
    </div><br>
    {% if product.tarif.line_rental > 0 %}
    <div class="row bg-light">
      <div class="col-6">На стационарные номера региона пребывания</div>
      <div class="col-6">{{product.tarif.stationary_tax}} руб/мес</div>
    </div><br>
    <div class="row bg-light">
      <div class="col-6">Внутри сети по РФ</div>
      <div class="col-6">{{product.tarif.home_tax}} руб/мес</div>
    </div><br>

    <div class="row">
      <h2 class="text-danger"> В абонентскую плату входит: </h2>
    </div><br>
    <div class="row bg-light">
      <div class="col-6">Пакет интернета</div>
      <div class="col-6">{{product.tarif.free_gb}} Gb/мес</div>
    </div><br>
    <div class="row bg-light">
      <div class="col-6">На мобильные номера других операторов домашнего региона</div>
      <div class="col-6">{{product.tarif.free_min}} мин/мес</div>
    </div><br>
    <div class="row">
      <h2 class="text-danger"> Сверх пакета:</h2>
    </div><br>
    <div class="row bg-light">
      <div class="col-6">На мобильные номера других операторов домашнего региона</div>
      <div class="col-6">{{product.tarif.out_tax}} мин/мес</div>
    </div><br>
    {% else %}
      <div class="row bg-light">
        <div class="col-6">Внутри сети</div>
        <div class="col-6">{{product.tarif.home_tax}} руб/мин </div>
      </div><br>
      <div class="row bg-light">
        <div class="col-6">На других операторов</div>
        <div class="col-6">{{product.tarif.out_tax}} руб/мин </div>
      </div><br>
      <div class="row bg-light">
        <div class="col-6">На стационарные телефоны</div>
        <div class="col-6">{{product.tarif.stationary_tax}} руб/мин </div>
      </div><br>
      <div class="row bg-light">
        <div class="col-6">Интернет</div>
        <div class="col-6">{{product.tarif.gb_tax}} руб/gb </div>
      </div><br>
      <div class="row bg-light">
        <div class="col-6">Стоимость SMS</div>
        <div class="col-6">{{product.tarif.sms_tax}} руб </div>
      </div><br>
    {% endif %}
  {% else %}
      <div class="row bg-light">
        <div class="col-6">Оператор</div>
        <div class="col-6">{{product.tarif.operator}}</div>
      </div><br>
      <div class="row bg-light">
        <div class="col-6">Материал корпуса</div>
        <div class="col-6">{{product.body_material}}</div>
      </div><br>
    <div class="row bg-light">
      <div class="col-6">Тип связи</div>
      <div class="col-6">
        {% for type in product.com_type.all %}
        {{type}},
        {% endfor %}
      </div>
    </div><br>
  {% endif %}




</div>

<div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="profile-tab"><br>
  <div class="row pb-5">
    <div class="col">
      {{product.description}}
    </div>
  </div>
</div>

    
<div class="tab-pane fade" id="accessories" role="tabpanel" aria-labelledby="profile-tab"><br>
  <div class="row">
    {% for accs in accessories %}
    <div class="col-sm-3 border round mb-3">
          <div class="col-3">
            {{accs.name}}
            <a href="{% url 'accessory_detail' accs.id %}">
              <img src="{{accs.image.url}}" width='100' alt="{accs.name}}">
            </a>
          </div>
          </div>
    {% endfor %}

        </div>
        </div>
 

<!-- Reviews -->
<!-- ====================================================== -->
<div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="contact-tab"><br>
  {%if user.is_authenticated %}
  <div class="card-body">

    <form action="{% url 'reviews' product.id %}" method="POST">
      {% csrf_token %}
      <input type="text" class="form-control" name='content'></textarea><br>
      <button type="submit" class="btn btn-danger">Оставить отзыв</button>
    </form>
  </div>
  {% else %}
  <p>Только зарегистрированные пользователи могут оставлять отзывы. Пожалуйста
    <a href="{% url 'register' %}">
      зарегистрируйтесь
    </a>
    или
    <a href="{% url 'login' %}">
      войдите
    </a>
    под своей учетной записью.</p>
  {% endif %}

  {% if comments.count > 0%}
  {% for comment in comments %}
  <div class="row border-bottom">
    <!-- <div class="alert alert-warning" role="alert"> -->
    <div class="col-6">{{comment.user.username}}<br>
      {{comment.created}}</div>
    <div class="col-6">{{comment.review}}</div>
    <!-- </div>  -->
    <!-- <div class="row bg-light"></div> -->
  </div><br>
  {% endfor %}
  {% endif %}

</div>
</div>
</div>
    </div>
  </div>
    <!-- end of carousel image section -->

</div>


{% endblock %}