{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <!-- breadcrumb section -->
  <!-- ============================================================== -->
  <div class="row mt-5 pt-4">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
          <li class="breadcrumb-item active" aria-current="page">Текущая</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row mb-3 justify-content-center">
    <div class="col-sm-3 bg-light m-1">
      <h5>Профиль пользователя</h5>
      {% if request.user == entity.user %}
      {{entity.entity_type}} {{entity.name}}<br>
      ИНН {{entity.tax_id_number}}<br>
      БИК {{entity.bin}}<br>
      рс {{entity.bank_account}}<br>
      Имя пользователя: {{user.username}}<br>
      Email: {{user.email}}<br>
      Пароль:
      <h5>Представитель юр. лица</h5>
      {{user.name}}
      {{user.first_name}}
      {{user.last_name}}
      
      <h5>Контактная информация</h5>
      {{entity.phone}}
      {% else %}
      {{person.first_name}} {{person_last_name}} {{person.user}}
      {% endif %}
      {{user.first_name}}
      
    </div>

    <div class="col-sm-4 bg-light m-1">
      <h5>История заказов</h5>
    </div>
    <div class="col-sm-3 bg-light m-1">
      <h5>Персональные предложения</h5>
    </div>

  </div>
</div>


{% endblock %}