{% extends 'base.html' %}
{% load static %}

{% block content %}

  
<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<form method="POST">
    {% csrf_token %}

    <!-- {% if form.errors %}
    <div class="alert alert-warning alert dismissable" role='alert'>
        <button class="close" data-dismiss="alert">
            <small><sup>X</sup></small>
        </button>
        <p>Your from has errors...</p>
        {% for field in form %}
            {% if field.errors %}
                {{ field.errors}}
            {% endif %}
        {% endfor %}

    </div>
    {% endif %} -->
    {{form.as_p}}

    <input type="submit" value="Edit password" classs="btn btn-secondary">

</form>


{% endblock %}