{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
  <!-- breadcrumb section -->
  <!-- ============================================================== -->
  <div class="row mt-5 pt-4">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
          <li class="breadcrumb-item active" aria-current="page">Текущая</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- end of breadcrumb section -->
  <!-- =========================================================================== -->

  <div class="row text-danger">
    <div class="col-sm-6">
  <h2 class="text-danger">{{accessory.name}}</h2>
  <img src="{{accessory.image.url}}" class='d-block w-50' alt="No Image Available">
  {% if product.stock <= 0 %}
  <p class="text-justify product_text"><b>Out of Stock</b></p>
  {% else %}
  <h2>{{accessory.price}} руб.</h2><br>
  {% endif %}
  <a href="{% url 'add_cart' accessory.slug %}">
    <button type="button" name="button" class="btn btn-danger">
      Добавить в корзину
    </button>
  </a>
  </div>
</div>
</div>
{% endblock %}



