/* . is for classes*/
/* # is for divs */

.vertalign {
  
    background-color: red;
    /* margin: auto; */
    padding: 1rem;
    /* text-align: center; */
}

#flex_align {
    display: flex;
    
}

