{% extends 'base.html' %}
{% load static%}
{% block content%}

<div class="container">

<div class="row mt-4 pt-5">
<div class="col-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Текущая</li>
        </ol>
    </nav>
</div>
</div>

<div class="row bg-light m-1 mb-5">
    <div class="col-sm-8">
        <p><h5>ООО РИТЕЙЛ <br>
            ИНН 5257173237 <br>
            КПП 525701001 <br>
            ОГРН 1175275039400 <br>
            ЮР АДРЕС 603002 НИЖНИЙ НОВГОРОД УЛ. КАНАВИНСКАЯ 2А ПОМЕЩЕНИЕ 3 <br>
            ТОЧКА ПАО БАНКА «ФК ОТКРЫТИЕ» <br>
            БИК 044525999 <br>
            КС 30101810845250000999 <br>
            РС 40702810014500007297 <br><br>
            Претензии и предложения принимаются на электронную почту:<br>
            mail@evvy.ru <br>
            или по телефону <br>
            89200711112 <br>
            с 10.00 до 19.00 по московскому времени
            
        </h5></p>
    </div>
</div>

</div>

{% endblock%}