{% extends 'base.html' %}
{% load static %}
{% block content %}


  <!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-3"><br>
        <!-- Left Menu -->
        <div class="list-group">
          <!-- <a href="" class="list-group-item">Ноутбуки</a>
          <a href="" class="list-group-item">iPhone</a> -->
          <a href="{% url 'listing_smartphone' %}" class="list-group-item">Смартфоны</a>
          <!-- <a href="" class="list-group-item">Кнопочные телефоны</a> -->
          <a href="{% url 'listing_smartwatch' %}" class="list-group-item">Умные часы</a>
          <a href="{% url 'listing_accessory' %}" class="list-group-item">Аксессуары</a>
          <a href="{% url 'listing_sim' %}" class="list-group-item">Сим карты</a>
          <a href="{% url 'listing_lte' %}" class="list-group-item">LTE роутеры и модемы</a>
          <!-- <a href="{% url 'listing_lte' %}" class="list-group-item">Другая херня</a> -->
        </div>
      </div>
    <div class="col-9">
        <!-- Carousel -->
        <div id="carouselExampleSlidesOnly" class="carousel slide my-4" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/photo_1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'img/photo_2.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'img/photo_3.jpg' %}" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-primary">
      <h2>Новинки, хиты продаж и товары дня</h2>
    </div>
  </div>

  <div class="row">
    {% for product in products %}
    <div class="col-3 border text-primary">
      
    <div class="row">
      <div class="col">
      <p><h5>{{product.brand}} {{product.model_name}}  {{product.hdd}}/{{product.ram}}Gb</h4></p>
      </div>
    </div>

    <div class="row">
      <div class="col">
      <a href="{{product.get_url}}">
          <div class="text-center">
          <img src="{{product.image.url}}"  width=130 alt="{{product.model_name}}">
          </div>
        </a>
      </div>  
    </div>

    <div class="row">
      <div class="col">
      <p><h4>{{product.price}} руб.</h4></p>
      {% if product.stock <= 0 %}
      <p class="text-justify product_text"><b>Out of Stock</b></p>
      {% else %}
        <a href="{% url 'add_cart' product.slug %}">
        <button type="button" name="button" class="btn btn-primary btn-block">
        Купить
        </button>
        <br>
        </a>
        </div>
    </div> 
      {% endif %}
  </div>
    {% endfor %}      
    </div>
</div>

{% endblock %}