{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container">
    <div class="row m-5"></div>
            <div class="row pd-5 m-5">
                <div class="col-md-4">

                    Here Russian Text Should Go<br>
                    идет русский текст<br>
                    Retail Ltd<br>
                    603002 Nizhny Novgorod 2A Kanavinskaya st <br>
                    Bank Account:
                </div>
            </div>
            <div class='wrapper'>
                <div class='header'>
                    <p class='title'>Order {{order.id}} </p>
                </div>

            <div>
                <hr class='hrItem' />
                <div class='details'>
                    {% for item in order_items %}
                        {{item.product}}: {{item.price}}<br>
                    {% endfor %}
            <a href="{% url 'GeneratePDF' pk=order.id %}" target="_blank">Cформировать счет</a><br>
            <a href="{% url 'DownloadPDF' pk=order.id %}">Загрузить счет</a><br>
           


        <form action="{% url 'send_file' %}" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label class ="control-label">
                    Email
                </label>
                <input type="text" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">
                    Subject
                </label>
                <input type="text" name="subject" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">
                    Message
                </label>
                <input type="text" name="message" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">
                    File
                </label>
                <input type="file" name="file" class="form-control">
            </div>
            <button type="submit" class='btn btn-success'> Email</button>
            </form>
            
                <hr class='hrItem' />
                </div>
            </div>
        </div>
    </div>
   
{% endblock%}
