
{% load static %}
<style type='text/css'>
    @font-face { font-family: "Azoft Sans Italic";
        src: url({/static/webfonts/azoft-sans-italic.woff),
             url(webfonts/azoft-sans-italic.ttf);
    }
    body {
        font-family: "Azoft Sans Italic";
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.2;
        color: #000;
        background-color: #fff;
    }
</style>


<body>
sfsdfsfsdfsdfsfsdfsdfsdfsdfsd <br>

фывафыавфафыаываываы
</body>


        <!-- <div class="container">
            <div class="row">
                <div class="col-md-4">
                    Here Russian Text Should Go<br>
                    Retail Ltd<br>    
                    <div class='r_1_font'>
                    Русский текст </div><br>
  
                    603002 Nizhny Novgorod 2A Kanavinskaya st <br>
                    Bank Account:
                </div>
                
                <div class='wrapper'>
                <div class='header'>
                    <p class='title'>Order {{order}} </p>
                </div>

                <div>
                <hr class='hrItem' />
                <div class='details'>
                    {% for item in invoice %}
                        {{item.product}}: {{item.price}}<br>
                    {% endfor %}

                <h2 class="g_font">Бестселлеры</h2>
                <h1>Customer</h1>
                : {{first_name}}<br/>
                Last Name: {{last_name}} <br>
                Phone: {{phone}}

                    Bill to: {{customer_name}}<br/>
                    Amount:  {{amount}}<br/>
                    Date: {{today}}
                <hr class='hrItem'/>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</body> -->
