{% extends 'base.html' %}
{% block content %}
<div class="container">
<h1><i class ="fas fa-truck"></i></h1>
<div class="row" style="padding:10px">
  <div class="col">
<div class="row">
  <div class="col-sm-4 bg-light border mr-1">
<form action="{% url 'delivery_choice' order.id %}">
  <div>
  <label for="delivery"class="text-danger">Доставка</label>
  </div>
  <div>
  <input type="radio" name="delivery" value="address" id="delivery"> 
  <span class="text-danger">Доставка по адресу</span>
  </div>
  <div>
  <input type="radio" name="delivery" value="office" id="delivery">
  <span class="text-danger"> Самовывоз</span>
  </div>
  <div>
    <input type="radio" name="delivery" value="logistics" id="delivery">
    <span class="text-danger"> До пункта выдачи транспортной компании </span>
  </div>
  <input type="submit" value="Выберите спосбо доставки"class="btn btn-danger m-1">
</form>
</div>
<div class="col-sm-7 bg-light border">
Заказ# {{order.id}}
{% for item in order_item %}
{{item.brand}} {{item.product}} {{item.quantity}} {{item.price}}

{% endfor %}
</div>
</div>

</div>
</div>
</div>
{% endblock %}